/* 1400 < screen  */
.menu__logo-img {
  max-height: 100px;
}

.menu__list {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

header {
  background-color: #00113b;

}

li.menu__list-element {
  margin-left: 3rem;
  font-size: 1.3rem;
}

li.menu__list-element a {
  text-decoration: none;
  color: white;
}
.menu__mobile-menu-btn {
  text-align: center;
  color: #00707f;
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-bottom: 3rem;
  border-bottom: 2px solid #00707f;
  padding-bottom: 2rem;
  border-bottom-style: dashed;
  color: #00113b;
}

h4 {
  margin-bottom: 2rem;
}

.profile-wrapper.row {
  margin-top: 3rem;
}

img.profile__photo-img {
  height: auto;
  width: 100%;
}

.swiper-skills {
  width: 100%;
  height: auto;
  position: relative;
}
.skills__header {
  margin-bottom: 5rem;
}
section.skills__slider {
  margin-top: 3rem;
}

a.button {
  padding: 6px 20px;
  display: inline-block;
  margin-bottom: 30px;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #00113b;
  color: #ffffff;
  margin-top: 2rem;
}
a.button:hover {
  background-color: #00707f;
}
.form {
  padding-top: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.form__row {
  position: relative;
}
.form__enter, .form__button, .form__textarea {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  padding: 17px 20px;
  height: 55px;
  border: 2px solid #00113b;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  outline: none;
}
.form__textarea {
  height: 150px;
}
.form__button {
  width: 100%;
  border: 2px solid #00113b;
  color: #fff;
  background: #00113b;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
}
.form__button:hover {
  background: #00707f;
  border: 2px solid #00707f;
}
.page__footer {
  padding: 40px 0;
  background-color: #00113b;
  color: #ffffff;
}
.page__footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}
.footer__email {
  padding-left: 30px;
  background-image: url(images/icon-email-footer.svg);
}
.footer__phone {
  padding-left: 25px;
  background-image: url(images/icon-phone-footer.svg);
}
.footer__container.container {
  text-align: right;
}
section {
  margin-bottom: 5rem;
}
.splide__slide {
  text-align: center;
}
p.slide__title {
  text-transform: uppercase;
  margin-top: 2rem;
  font-weight: 600;
}
.portfolio-image>img {
  width: 100%;
}
.menu__list.menu__list__active {
  display: block;
  text-align: center;
}
.menu__list-element.menu__list__active {
  margin-left: -2rem;
}
.menu__mobile-menu-btn.menu__list__active {
  display: none;
}

.menu__mobile-menu-btn {
  display: none;
}
.portfolio-image:hover .portfolio__image-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio__image-overlay {
  display: none;
  left: 0;
  top: 0;
  background-color: rgba(0, 112, 127, .8);

}
.portfolio-image {
  position: relative;
}
.portfolio__description-text {
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
}